$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$padding: 16px;
$paddingHalf: .5 * $padding;

$primary: #6b968e;
$secondary: #3880ff;
$tertiary: #ed797a;
$success: #2aad41;
$warning: #ffa50a;
$danger: #df4962;
$dark: #2f3549ff;
$medium: #a7acae;
$light: #f9f9f9;

$background: #1e222d;
